result
.#configuration.nix
home/dot-config/cava/themes/your-theme
home/dot-config/kitty/dank-theme.conf 
home/dot-config/niri/dms/colors.kdl   
home/dot-config/kitty/dank-tabs.conf
home/dot-config/nvim/lazy-lock.json
home/dot-config/nvim/.neoconf.json
home/dot-config/nvim/lazyvim.json
home/dot-config/fish/fish_variables*
home/dot-config/helix/themes/my_theme.toml
home/dot-config/helix/themes/noctalia.toml
home/dot-config/kitty/current-theme.conf
home/dot-config/kitty/themes/noctalia.conf
home/dot-config/mango/noctalia.conf
home/dot-config/mango/theme.conf.bak
home/dot-config/niri/noctalia.kdl
home/dot-config/yazi/flavors/noctalia.yazi/flavor.toml
