[[Language]]
name = "bash"
formatter = { command = "shfmt" }
language-servers = ["bash-language-server", "scls"]

[[Language]]
name = "hyprlang"
language-servers = ["hyprls"]

[[language]]
name = "nix"
# formatter = { command = "alejandra" }
language-servers = ["nixd", "nil", "scls"]

[[Language]]
name = "toml"
language-servers = ["tombi", "scls", "uwu-colors"]
# formatter = { command = "tombi", args = ["format", "-"] }

[[language]]
name = "yaml"
formatter = { command = "prettier" }
language-servers = ["scls", "uwu-colors"]
auto-format = true

[[language]]
name = "markdown"
language-servers = ["marksman", "markdown-oxide", "harper-ls", "scls"]
auto-format = true

[[language]]
name = "stub"
scope = "text.stub"
file-types = []
shebangs = []
roots = []
auto-format = false
language-servers = [ "scls", "uwu-colors", "harper-ls" ]

[language-server.harper-ls]
command = "harper-ls"
args = [ "--stdio" ]

[language-server.nixd]
command = "nixd"

[language-server.scls]
command = "simple-completion-language-server"

[language-server.uwu-colors]
command = "uwu_colors"

[language-server.scls.config]
max_completion_items = 20
min_chars_prefix_len = 1
feature_words = true
feature_snippets = true
snippets_first = true
snippets_inline_by_word_tail = false
feature_unicode_input = false

[language-server.tombi]
command = "tombi"
args = ["--no-cache","lsp"]

## PYTHON
# [language-server.basedpyright.config]
# basedpyright.analysis.autoSearchPaths = true
# basedpyright.analysis.autoImportCompletion = true
# basedpyright.analysis.diagnosticMode = "workspace"
# basedpyright.analysis.typeCheckingMode = "standard"

# I often get false positive errors due to using libraries with many union types
# were the method I use may be invalid depending on the actual instance type.
# JetBrains PyCharm accepts this without any warning or error lint
# Degrade level to warning in most of these cases.
# basedpyright.analysis.diagnosticSeverityOverrides.reportArgumentType = "warning"
# basedpyright.analysis.diagnosticSeverityOverrides.reportGeneralTypeIssues = "warning"
# basedpyright.analysis.diagnosticSeverityOverrides.reportOperatorIssue = "warning"
# basedpyright.analysis.diagnosticSeverityOverrides.reportOptionalIterable = "warning"
# basedpyright.analysis.diagnosticSeverityOverrides.reportOptionalMemberAccess = "warning"
# basedpyright.analysis.diagnosticSeverityOverrides.reportOptionalOperand = "warning"
# basedpyright.analysis.diagnosticSeverityOverrides.reportOptionalSubscript = "warning"

# [language-server.ruff]
# command = "ruff"
# args = ["server"]

# [[language]]
# name = "python"
# roots = ["pyproject.toml", "requirements.txt"]
# language-servers = [ "basedpyright", "ruff", "scls" ]
# auto-format = true
