// Binds
// Launchers {{{1
binds {
    Mod+Return            { spawn-sh "kitty -1"; }
    Mod+Shift+Return      { spawn "nautilus"; }
    Mod+KP_Enter          { spawn-sh "dms ipc spotlight toggle"; }
    Mod+P                 { spawn-sh "dms ipc call dankdash wallpaper"; }
    Mod+Tab               { toggle-overview; }
    Mod+KP_Multiply       { spawn "qalculate-gtk"; }
    Mod+N                 { spawn-sh "kitty --app-id='remind-tui' ~/NixOS/home/dots/bin/remind_tui"; }
    Mod+Shift+N           { spawn-sh "dms ipc notepad toggle"; }
    // Mod3+A                { spawn-sh "pkill wlr-which-key || wlr-which-key ~/.config/wlr-which-key/config.yaml"; }
    Mod+Z                 { spawn-sh "toggle_launch"; }
    // Mod+Z                 { spawn-sh "kitty --detach --app-id cute_launch run_old"; }
    Mod+grave             { spawn-sh "kitten quick-access-terminal --instance-group kitty"; }
    Mod+KP_End            { spawn-sh "kitten quick-access-terminal --instance-group jjui jjui ~/NixOS"; }
    Mod+KP_Down           { spawn-sh "kitten quick-access-terminal --instance-group aichat aichat -m llama-cpp:gemma3-4b -r concise -s session --empty-session"; }
    Mod+KP_Next           { spawn-sh "kitten quick-access-terminal --instance-group rmpc rmpc"; }
// Utilities {{{1
    F10                   { spawn-sh "wlrctl pointer move 2560 -1440"; }
    Mod+c                 { spawn-sh "copyq toggle"; }
    Mod+a                 { spawn-sh "dms ipc notifications toggle"; }
    Mod+b                 { spawn-sh "dms ipc bar toggle"; }
    Mod+e                 { spawn "emoji-picker"; }
    Mod+M                 { spawn "~/bin/play_yt.sh"; }
    Mod+KP_Add            { spawn-sh "toggle_magnifier"; }
    Mod3+Tab              { spawn-sh "warpd --oneshot --hint"; }
    Mod3+A                 { spawn-sh "wl-kbptr -o modes=floating,click -o mode_floating.source=detect && wlrctl pointer move 2560 -1440"; }
    Mod+Shift+z           { spawn-sh "start_warpd"; }

// Media {{{1 
  // PC Volume {{{2
    XF86AudioRaiseVolume  { spawn-sh "dms ipc audio increment 1"; }
    XF86AudioLowerVolume  { spawn-sh "dms ipc audio decrement 1"; }
    XF86AudioMute         { spawn-sh "dms ipc audio mute"; }
    Mod+Alt+Up            { spawn-sh "dms ipc audio increment 1"; }
    Mod+Alt+Down          { spawn-sh "dms ipc audio decrement 1"; }
    Mod+Alt+m             { spawn-sh "dms ipc audio mute"; }

  // LGTV {{{2
    Mod+Delete            { spawn "/home/kev/NixOS/home/dots/bin/lgtv" "system" "turnOff";}
    Mod+Shift+Delete      { spawn "/home/kev/NixOS/home/dots/bin/lgtv" "wakeonlan"; }
    Mod+Prior             { spawn "/home/kev/NixOS/home/dots/bin/lgtv" "audio" "setMute" "true"; }
    Mod+Shift+Prior       { spawn "/home/kev/NixOS/home/dots/bin/lgtv" "audio" "setMute" "false"; }
    Mod+Next              { spawn "/home/kev/NixOS/home/dots/bin/lgtv" "audio" "volumeDown"; }
    Mod+Shift+Next        { spawn "/home/kev/NixOS/home/dots/bin/lgtv" "audio" "volumeUp"; }
    Mod+t                 { spawn "/home/kev/NixOS/home/dots/bin/lgtvgui"; }

  // MPRIS {{{2
    Mod+KP_Home           { spawn "playerctl" "play-pause"; }
    Mod+KP_Up             { spawn "playerctl" "previous"; }
    Mod+KP_Prior          { spawn "playerctl" "next"; }
    Mod+KP_Begin          { spawn "playerctld" "shift" "&&" "~/bin/currentPlayer"; }
    Mod+KP_Right          { spawn "playerctld" "unshift" "&&" "~/bin/currentPlayer"; }

// Window Management {{{1
    Mod+Shift+1           { move-window-to-workspace 1; }
    Mod+Shift+2           { move-window-to-workspace 2; }
    Mod+Shift+3           { move-window-to-workspace 3; }
    Mod+Shift+4           { move-window-to-workspace 4; }
    Mod+Shift+5           { move-window-to-workspace 5; }
    Mod+Shift+6           { move-window-to-workspace 6; }
    Mod+Shift+7           { move-window-to-workspace 7; }
    Mod+Shift+8           { move-window-to-workspace 8; }
    Mod+Shift+9           { move-window-to-workspace 9; }
    Mod+Shift+Up          { move-window-up-or-to-workspace-up; }
    Mod+Shift+Down        { move-window-down-or-to-workspace-down; }
    Mod+F                 { fullscreen-window; }
    Mod+Space             { switch-focus-between-floating-and-tiling; }
    Mod+Shift+Space       { toggle-window-floating; }
    Mod+Shift+X           { close-window; }

    // Columns,
    Mod+Shift+Left        { move-column-left; }
    Mod+Shift+Right       { move-column-right; }
    // Mod+Shift+Down        { move-window-down; }
    // Mod+Shift+Up          { move-window-up; }
    Mod+Ctrl+1            { move-column-to-workspace 1; }
    Mod+Ctrl+2            { move-column-to-workspace 2; }
    Mod+Ctrl+3            { move-column-to-workspace 3; }
    Mod+Ctrl+4            { move-column-to-workspace 4; }
    Mod+Ctrl+5            { move-column-to-workspace 5; }
    Mod+Ctrl+6            { move-column-to-workspace 6; }
    Mod+Ctrl+7            { move-column-to-workspace 7; }
    Mod+Ctrl+8            { move-column-to-workspace 8; }
    Mod+Ctrl+9            { move-column-to-workspace 9; }
    Mod+Ctrl+Left         { consume-or-expel-window-left; }
    Mod+Ctrl+Right        { consume-or-expel-window-right; }

    // Floats
    // Not working yet..
    // Mod3+right            {move-floating-window -x 10; }
    // Mod3+Left             {move-floating-window -x -10; }
    // Mod3+up               {move-floating-window -y 10; }
    // Mod3+down             {move-floating-window -y -10; }

// Focus {{{1
    Mod+Left              { focus-column-left-or-last; }
    Mod+Right             { focus-column-right-or-first; }
    // Mod+Up                { focus-window-up; }
    // Mod+Down              { focus-window-down; }
    Mod+Down              { focus-window-or-workspace-down; }
    Mod+Up                { focus-window-or-workspace-up; }
    Mod+1                 { focus-workspace 1; }
    Mod+2                 { focus-workspace 2; }
    Mod+3                 { focus-workspace 3; }
    Mod+4                 { focus-workspace 4; }
    Mod+5                 { focus-workspace 5; }
    Mod+6                 { focus-workspace 6; }
    Mod+7                 { focus-workspace 7; }
    Mod+8                 { focus-workspace 8; }
    Mod+9                 { focus-workspace 9; }
    Mod+slash             { center-column; }

// Resize {{{1
    Mod+R                 { switch-preset-column-width; }
    Mod+W                 { toggle-column-tabbed-display; }
    Mod+Backspace         { maximize-column; }
    Mod+Shift+Backspace   { maximize-window-to-edges; }
    Mod+Backslash         { center-visible-columns; }
    Mod+Shift+Backslash   { toggle-windowed-fullscreen; }
    Mod+Minus             { set-column-width "-1%"; }
    Mod+Equal             { set-column-width "+1%"; }
    Mod+Shift+Minus       { set-window-height "-1%"; }
    Mod+Shift+Equal       { set-window-height "+1%"; }

// Miscellaneous Binds {{{1
    Mod+s                 { screenshot; }
    Mod3+s                 { spawn "toggle-system-theme"; }
    Mod+Shift+s           { spawn-sh "hyprshot -m region -s -r --clipboard-only | satty -f -"; }
    Mod+Shift+a           { spawn-sh "wl-paste | satty -f - --actions-on-enter save-to-clipboard,exit --copy-command wl-copy"; }
    // Mod+Shift+Slash       { show-hotkey-overlay; }
    Mod+q                 { spawn-sh "dms ipc call powermenu toggle"; }
    Mod+KP_Divide         { power-off-monitors; }

// Mouse Binds {{{1
    Mod+WheelScrollUp     { focus-workspace-up; }
    Mod+WheelScrollDown   { focus-workspace-down; }

}
// vim: foldlevel=0
