// Niri Configuration

// Includes {{{1
include "spawns.kdl"
include "window-rules.kdl"
include "layer-rules.kdl"
include "binds.kdl"
include "input.kdl"
include "environment.kdl"
include "output.kdl"
include "layout.kdl"
// include "dms/colors.kdl"

// Animation Settings {{{1
animations {
    workspace-switch {
        spring damping-ratio=0.80 stiffness=523 epsilon=0.0001
    }
    window-open {
        duration-ms 150
        curve "ease-out-expo"
    }
    window-close {
        duration-ms 150
        curve "ease-out-quad"
    }
    horizontal-view-movement {
        spring damping-ratio=0.85 stiffness=423 epsilon=0.0001
    }
    window-movement {
        spring damping-ratio=0.75 stiffness=323 epsilon=0.0001
    }
    window-resize {
        spring damping-ratio=0.85 stiffness=423 epsilon=0.0001
    }
    config-notification-open-close {
        spring damping-ratio=0.65 stiffness=923 epsilon=0.001
    }
    screenshot-ui-open {
        duration-ms 200
        curve "ease-out-quad"
    }
    overview-open-close {
        spring damping-ratio=0.85 stiffness=800 epsilon=0.0001
    }
}

// Miscellaneous Settings {{{1
config-notification {
    disable-failed
}

cursor {
    hide-after-inactive-ms 2000
    // hide-when-typing
    xcursor-theme "Bibata-Modern-Classic"
    xcursor-size 24
}

gestures {
    hot-corners {
        off
    }
}

hotkey-overlay {
    skip-at-startup
}

overview {
    zoom 0.55
    backdrop-color "#0f1417"
}

prefer-no-csd

recent-windows {
    highlight {
        corner-radius 4
    }
}

screenshot-path null

// Static Workspaces {{{1
workspace "web"
workspace "term"
