environment {
    // DISPLAY ":1"
    DMS_SCREENSHOT_EDITOR "satty"
    NIXOS_OZONE_WL "1"
    MANPAGER "nvim +Man!"
    NH_NO_CHECKS "1" //needed for nh (np, up)
    PODMAN_COMPOSE_WARNING_LOGS "false"
    XDG_CURRENT_DESKTOP "niri"
}
