// --- Autostarts{{{1
// spawn-at-startup "dbus-update-activation-environment" "--systemd" "WAYLAND_DISPLAY" "XDG_CURRENT_DESKTOP=$XDG_CURRENT_DESKTOP"
spawn-sh-at-startup "wl-paste --watch cliphist store"
spawn-sh-at-startup "~/NixOS/home/dots/bin/start_servers"
spawn-sh-at-startup "playerctld daemon"
spawn-sh-at-startup "llama-server -a 'LFM2-8B-A1B' -m ~/Code/models/LFM2-8B-A1B-Q4_K_M.gguf --ctx-size 8192 --temp 0.3 --min-p 0.15 --repeat-penalty 1.05 --port 8081 --host 127.0.0.1"
spawn-sh-at-startup "ssh-add"
spawn-sh-at-startup "firefox"
spawn-sh-at-startup "kitty --app-id='term'"
spawn-sh-at-startup "kitty --app-id='term'"
