// Window Rules

// browser                                    {{{1
window-rule {
    match app-id="firefox|vivaldi|Vivaldi-flatpak|zen"
    default-column-width { proportion 1.00; }
    open-on-workspace "1"
}
// copyq                                      {{{1
window-rule {
    match app-id="com.github.hluk.copyq"
    match app-id="cmd-launch" // For fzf launcher script 
    open-floating true
    default-column-width { proportion 0.25; }
    default-window-height { proportion 0.50; }
}
// firefox picture-in-picture                 {{{1
window-rule {
    // Firefox PIP
    match title="Picture-in-Picture"
    default-floating-position x=15 y=90 relative-to="bottom-left"
    default-column-width { fixed 320; }
    default-window-height { fixed 223; }
    open-floating true
    open-focused false
    // shadow { on; }
}
// kitty quick-access-terminals               {{{1
window-rule {
    match app-id="term"
    open-on-workspace "term"
    default-column-width { proportion 0.50; }
    open-focused false
}
// peaclock timer                             {{{1
window-rule {
    match app-id="timer"
    default-column-width { fixed 400; }
    open-focused true
}
// qalculate                                  {{{1
window-rule {
    match app-id="qalculate-gtk"
    match app-id="satty"
    match app-id="clipse"
    open-floating true
    default-column-width { proportion 0.25; }
    default-window-height { proportion 0.50; }
}
// remind-tui                                 {{{1
window-rule {
    match app-id="remind-tui"
    open-floating true
    default-column-width { proportion 0.28; }
    default-window-height { proportion 0.35; }
}
// spotify - mini-player                      {{{1
window-rule {
    // for Spotify mini-player
    match app-id="chromium-browser"
    default-floating-position x=12 y=290 relative-to="bottom-left"
    default-column-width { fixed 400; }
    default-window-height { fixed 250; }
    // default-column-width { fixed 398; }
    // default-window-height { fixed 250; }
    open-floating true
    open-focused false
    shadow { off; }
}
// sudoku                                     {{{1
window-rule {
    match app-id="sudoku-Main"
    default-column-width { fixed 700; }
    // default-window-height { fixed 150; }
    open-floating true
    open-focused true
}
// dms settings                               {{{1
window-rule {
    match title="Settings"
    match app-id="org.quickshell"
    match app-id="floater"
    open-floating true
    open-focused true
    default-column-width { proportion 0.50; }
    default-window-height { proportion 0.75; }

}
// vivaldi picture-in-picture                 {{{1
// window-rule {
//     // Vivaldi PIP
//     match title="Picture in picture"
//     default-floating-position x=1905 y=55 relative-to="bottom-left"
//     default-column-width { fixed 620; }
//     default-window-height { fixed 340; }
//     open-floating true
//     open-focused false
//     shadow { on; }
// }
// catch all                                  {{{1
// window-rule {
//     match app-id=".*"
//     geometry-corner-radius 12
//     clip-to-geometry true
// }
