// DMS binds
binds {

    Mod+KP_Enter          { spawn-sh "dms ipc call spotlight toggle"; }
    Mod+p                 { spawn-sh "dms ipc call dankdash wallpaper"; }
    Mod+c                 { spawn-sh "dms ipc call clipboard toggle"; }
    Mod+a                 { spawn-sh "dms ipc call notifications toggle"; }
    Mod+Shift+a           { spawn-sh "dms ipc call notifications dismissAllPopups"; }
    Mod+b                 { spawn-sh "dms ipc call bar toggle"; }
    Mod+W                 { spawn-sh "dms ipc call dash toggle weather"; }
    Mod+m                 { spawn-sh "dms ipc call dash toggle media"; }
    // Mod+w                 { spawn-sh "noctalia-shell ipc call calendar toggle"; }
    // Mod+Shift+t           { spawn-sh "noctalia-shell ipc call plugin:timer reset"; }
    Mod+e                 { spawn-sh "emoji-picker"; }
    XF86AudioRaiseVolume  { spawn-sh "dms ipc call audio increment 1"; }
    XF86AudioLowerVolume  { spawn-sh "dms ipc call audio decrement 1"; }
    XF86AudioMute         { spawn-sh "dms ipc call audio mute"; }
    Mod+q                 { spawn-sh "dms ipc call powermenu toggle"; }
}
