// Noctalia binds
binds {

    Mod+b                       { spawn-sh "noctalia msg bar-toggle"; }
    Mod+m                       { spawn-sh "noctalia msg panel-toggle control-center media"; }
    Mod+P                       { spawn-sh "noctalia msg panel-toggle launcher /wall"; }
    Mod+Shift+P                 { spawn-sh "noctalia msg wallpaper-set color:#15212f"; }
    Mod+w                       { spawn-sh "noctalia msg panel-toggle control-center weather "; }
    Mod+SHIFT+w                 { spawn-sh "noctalia msg panel-toggle control-center calendar"; }
    Mod+q                       { spawn-sh "noctalia msg panel-toggle session"; }
    Mod+period                  { spawn-sh "noctalia msg settings-toggle"; }
    Mod+SHIFT+m                 { spawn-sh "noctalia msg panel-toggle control-center system"; }
    Mod+SHIFT+n                 { spawn-sh "noctalia msg panel-toggle noctalia/notes:panel"; }
    Mod+c                       { spawn-sh "noctalia msg panel-toggle clipboard"; }
    Mod+u                       { spawn-sh "noctalia msg panel-toggle avivbintangaringga/nix-monitor:panel"; }
    Mod+SHIFT+c                 { spawn-sh "noctalia msg clipboard-clear"; }
    Mod+SHIFT+t                 { spawn-sh "noctalia msg theme-mode-toggle"; }
    Mod+KP_Enter                { spawn-sh "noctalia msg panel-toggle launcher"; }
    Mod+a                       { spawn-sh "noctalia msg panel-toggle control-center notifications"; }
    Mod+SHIFT+a                 { spawn-sh "noctalia msg notification-clear-history"; }
    Mod+d                       { spawn-sh "noctalia msg notification-clear-active"; }
    Mod+t                       { spawn-sh "kitty clock-rs stopwatch"; }
    XF86AudioLowerVolume        { spawn-sh "noctalia msg volume-down 1"; }
    XF86AudioMute               { spawn-sh "noctalia msg volume-mute"; }
    XF86AudioRaiseVolume        { spawn-sh "noctalia msg volume-up 1"; }
    Mod+KP_7                    { spawn-sh "noctalia msg media toggle"; }
    Mod+KP_8                    { spawn-sh "noctalia msg media previous"; }
    Mod+KP_9                    { spawn-sh "noctalia msg media next"; }
}
